<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}"); // 리스트에 있는 맨 마지막 요소를 꺼낸다는 문법
        </script>
    {% endif%}
    {% endwith %}
</head>
<body>
<form name="form" action="/signup" method="POST">
    <input type="text" name="name" placeholder="이름"><br>
    <input type="text" name="email" placeholder="이메일"><br>
    <input type="password" name="password" placeholder="비밀번호"><br>
    <input type="password" name="re_password" placeholder="비밀번호 확인"><br>
    <input type="submit" value="회원가입">
</form>

</body>
</html>